### 1. Գրեք կոդ, որը կտպի` 
**Hello! This is my first homework**

In [1]:
print("Hello! This is my first homework")

Hello! This is my first homework

### 2. Գրեք կոդ, որը կտպի Թումանյանի քառյակը հետևյալ տեսքով

Աշնան ամպին ու զամպին,
    
    Մոլոր նըստած իր ճըմբին,
    
        Լոռու հանդում մի արտուտ
    
            Նայում է միշտ իմ ճամփին։

In [10]:
print("Աշնան ամպին ու զամպին,\n\t \tՄոլոր նըստած իր ճըմբին,\n\t\tԼոռու հանդում մի արտուտ\n\t\tՆայում է միշտ իմ ճամփին\n\t:")

Աշնան ամպին ու զամպին,
	 	Մոլոր նըստած իր ճըմբին,
		Լոռու հանդում մի արտուտ
		Նայում է միշտ իմ ճամփին
	:

### 3. Գտեք հետևյալ կոդերից որն է կամ որոնք են սխալ syntax-ով գրված: Գրեք ճիշտ ձևը
* print['Hello world!']


* Print("Hello world!")


* print('Hello world!')


* print('Hello world!)

### 4. Հետևյալ տարբերակներից, ո՞րը  կամ որո՞նք են ճիշտ ձևով սահմանում փոփոխական: Առանձնացրեք ճիշտ տարբերակը/տարբերակները

* int age = 15

* name = 'Ani''

* city = 'Yerevan'

* university == 'ASUE'

In [ ]:
int age = 15, city = 'Yerevan'

### 5. Ստեղծեք name անունով փոփոխական ու դրան վերագրեք Ձեր անունը .

In [11]:
name="Armen"

### 6. Ստեղծեք carname անունով փոփոխական ու դրան վերագրեք BMW անունը .

In [12]:
carname="BMW"

### 7. Ստեղծեք year անունով փոփոխական ու դրան վերագրեք 2015 թիվը .

In [13]:
year=2015

### 8. Վերոնշյալ փոփոխականներով կազմեք նախադասություն:

Օրինակ` Armen owns BMW since 2015

In [15]:
print("",name,"owns",carname," since",2015,"");

 Armen owns BMW  since 2015