### Task1

Write a Python program to convert temperatures to and from celsius, fahrenheit.
Formula : c/5 = f-32/9 where c = temperature in celsius and f = temperature in fahrenheit 

Expected Output : 

60°C is 140 in Fahrenheit

45°F is 7 in Celsius

### Task2

Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
Every next number is found by adding up the two numbers before it.

### Task3

Write a Python program to calculate a dog's age in dog's years.For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Expected Output:

Input a dog's age in human years: 15                                    
The dog's age in dog's years is 73

### Task4

This is your list: [10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]

Iterate through the list and if there is a 13, print it with its index number. i.e.: "There is a 13 at index no: 5"

### Task5

Write a Python program to find the median of three values.
Expected Output:

Input first number: 30                                               
Input second number: 26                                                 
Input third number: 29                                                  
The median is 29