# Recap of last lesson

### Working with strings

Printing a string

In [ ]:
print('This is string')

This is string

New line

In [ ]:
print('This is\nstring')

This is
string

Tab

In [ ]:
print('This is \tstring')

This is 	string

" "

In [ ]:
print("This is \"string\"")

This is "string"

Backslash

In [ ]:
print('This is\string')

This is\string

Storing in variable

In [ ]:
text = 'we are in Yerevan.'
print(text)

we are in Yerevan.

In [ ]:
print(type(text))

<class 'str'>

Concatination

In [ ]:
print(text+' The wether is fine here')

we are in Yerevan. The wether is fine here

Functions

In [ ]:
print(text.capitalize())

We are in yerevan.

In [ ]:
print(text.upper())

WE ARE IN YEREVAN.

In [ ]:
print(text.isupper())

False

In [ ]:
print(text.upper().isupper())

True

In [ ]:
print(len(text))

18

In [ ]:
text = 'we are in Yerevan.'
        0123
print(text[1])

e

In [ ]:
text = 'we are in Yerevan.'
        01234567
print(text[1:4])

e a

In [ ]:
text = 'we are in Yerevan.'
                        -1
print(text[-5:-2])

eva

Search

In [ ]:
print(text.find('Yere'))

10

In [ ]:
print(text.find('Z'))

-1

In [ ]:
print(text.replace('Yerevan','Gyumri'))

We are in Gyumri.

Other

In [ ]:
print(text.title())

We Are In Yerevan.

In [ ]:
print('Yerevan' in text)

True

In [ ]:
print('Yerevan' not in text)

False

In [ ]:
print(text.count('Madrid'))

0

In [ ]:
print('  Madrid  '.strip())

Madrid

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [ ]:
print(text.split())

['We', 'are', 'in', 'Yerevan.']

In [ ]:
print(text*3)

We are in Yerevan.We are in Yerevan.We are in Yerevan.

In [ ]:
print("x"*7)
print("x"*2)
print("x"*4)
print("x"*2)
print("x"*2)

xxxxxxx
xx
xxxx
xx
xx

# Variables

In [ ]:
age = 25
price2 = 15.2
name = 'Jack'
is_Male = True

Not Allowed

In [ ]:
x: = 1.0
1X = ''
for = 1
x-y = 1

* Create a variable named **animal** and assign the value **giraffe** to it.

* Display the sum of 5 + 10, using two variables: x and y.

* 2my-first_name = "John"

### Getting inputs

In [ ]:
name = input('Enter your name: ')
print('Hello '+name+'!')

Ask person's name, then city and print for example **"Aram is from Ashtarak"**

In [ ]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print(f"{name}, is from {city}")

Enter your name: Karen
Enter your city: Goris
Karen, you are from Goris

Building a Basic Calculator

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = num1 + num2
print(result)

In [ ]:
print('num1 is a',type(num1))
print('num2 is a',type(num2))

num1 is a <class 'str'>
num2 is a <class 'str'>

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = int(num1) + int(num2)
print(result)

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1) + float(num2)
print(result)

Mad Libs Game

https://www.squiglysplayhouse.com/WritingCorner/StoryBuilder/ItsEaster.html

In [ ]:
name          = input("A boy's name: ")
member        = input("A family member: ")
candy_company = input("Your favorite candy company: ")
candy_type    = input("Your favorite candy type: ")
text          = f"""
One day a little boy named {name} woke up and his {member} yelled, "It's Easter!" 
They went to check if the Easter Bunny left something for him, and he did. 
He left a chocolate Easter bunny candy,twelve Easter eggs filled 
with {candy_company} {candy_type}, and a jump rope, and a lot of other toys.
"""
print(text)

A boy's name: Arsen
A family member: mother
Your favorite candy company: Linds
Your favorite candy type: chupa

One day a little boy named Arsen woke up and his mother yelled, "It's Easter!"
They went to check if the Easter Bunny left something for him, and he did.
He left a chocolate Easter bunny candy,
twelve Easter eggs filled with Linds chupa, and a jump rope, and a lot of other toys.

# Lists

In [ ]:
print(list((55,66)))

In [ ]:
names = ['Armen','Arsen','Ani','Karen']
print(names)

['Armen', 'Arsen', 'Ani', 'Karen']

In [ ]:
mix = ["Yerevan",67,False]
print(mix)

['Yerevan', 67, False]

In [ ]:
print(type(names))

<class 'list'>

In [ ]:
print(len(names))

4

Access elements

In [ ]:
print(names[0])

Armen

In [ ]:
print(names[2:])

['Ani', 'Karen']

In [ ]:
names[0] = 'Robert'
print(names)

['Robert', 'Arsen', 'Ani', 'Karen']

In [ ]:
names = ['Armen','Arsen','Ani','Karen','Tigran']
names[1:3] = ["Levon"]
print(names)

['Armen', 'Levon', 'Karen', 'Tigran']

### List functions

Join

In [ ]:
girls = ['Ani','Mery','Lusine','Aida']
boys = ['Tigran','Hayk','Gevorg','Levon']
girls.extend(boys)
print(girls)

['Ani', 'Mery', 'Lusine', 'Aida', 'Tigran', 'Hayk', 'Gevorg', 'Levon']

Add

In [ ]:
girls = ['Ani','Mery','Lusine','Aida']
girls.append('Meline')
print(girls)

['Ani', 'Mery', 'Lusine', 'Aida', 'Meline']

In [ ]:
girls = ['Ani','Mary','Lusine','Aida']
girls.insert(2,'Meline')
print(girls)

['Ani', 'Mary', 'Meline', 'Lusine', 'Aida']

Remove

In [ ]:
girls.remove('Mary')
print(girls)

['Ani', 'Meline', 'Lusine', 'Aida']

In [ ]:
girls.clear()
print(girls)

[]

In [ ]:
boys = ['Tigran','Hayk','Gevorg','Levon']
boys.pop()
print(boys)

['Tigran', 'Hayk', 'Gevorg']

In [ ]:
boys = ['Tigran','Hayk','Gevorg','Levon']
del boys
print(boys)

NameError: name 'boys' is not defined

Search

In [ ]:
print(boys.index('Hayk'))

1

In [ ]:
print(boys.index('Levon'))

ValueError: 'Levon' is not in list

Count

In [ ]:
boys = ['Tigran','Hayk','Gevorg','Hayk']
print(boys.count('Hayk'))

2

Sorting

In [ ]:
boys.sort()
print(boys)

['Gevorg', 'Hayk', 'Hayk', 'Tigran']

In [ ]:
boys.sort(reverse = True)
print(boys)

['Tigran', 'Hayk', 'Hayk', 'Gevorg']

Reverse

In [ ]:
boys = ['Tigran','Hayk','Gevorg','Hayk']
boys.reverse()
print(boys)

['Hayk', 'Gevorg', 'Hayk', 'Tigran']

Copy

In [ ]:
boys2 = boys.copy()
print(boys2)

['Hayk', 'Gevorg', 'Hayk', 'Tigran']

In [ ]:
[boys,girls]

[['Hayk', 'Gevorg', 'Hayk', 'Tigran'],
 ['Ani', 'Mary', 'Meline', 'Lusine', 'Aida']]

fruits = ["apple", "banana", "cherry", "melon","orange", "mango"]

* Use the correct syntax to print the number of items in the list.

* Print the last item in the list.

* Add "lemon" in the fruits list.

* Print the second, third and fourth items in the list.

### Tuples

In [ ]:
print(tuple([1,51]))

(1, 51)

In [ ]:
coordinates = (4,5)
print(coordinates)

(4, 5)

In [ ]:
print(len(coordinates))

2

In [ ]:
print(type(coordinates))

<class 'tuple'>

In [ ]:
print(coordinates[1])

5

In [ ]:
coordinates[1] = 5

TypeError: 'tuple' object does not support item assignment

List of tuples

In [ ]:
coordinates_list = [(2,5),(5,8),(0,9)]

In [ ]:
coordinates_list[0][0]

1

In [ ]:
coordinates_list[0][0] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
coordinates_list[0] = (1,2)

In [ ]:
print(coordinates_list)

[(1, 2), (5, 8), (0, 9)]

In [ ]:
(boys,coordinates)

(['Hayk', 'Gevorg', 'Hayk', 'Tigran'], (4, 5))

# Dictionary

In [ ]:
students_city = {
    'Tom' : 'London',
    'Igor' : 'Moscow',
    'Elizabeth' : 'Liverpool'
    }

In [ ]:
print(type(students_city))

<class 'dict'>

In [ ]:
print(students_city)

{'Tom': 'London', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool'}

In [ ]:
students_city.keys()

dict_keys(['Tom', 'Igor', 'Elizabeth'])

In [ ]:
students_city.values()

dict_values(['Berlin', 'Moscow', 'Liverpool', 'Yerevan', 'Yerevan'])

In [ ]:
print(len(students_city))

3

In [ ]:
students_city1 = {'Tom' : 'London','Tom' : 'Moscow','Elizabeth' : 'Liverpool'}

In [ ]:
print(students_city1)

{'Tom': 'Moscow', 'Elizabeth': 'Liverpool'}

In [ ]:
print(students_city['Tom'])

London

In [ ]:
print(students_city.get('Robert','Yerevan'))

Yerevan

In [ ]:
students_city["Robert"] = "Yerevan"

In [ ]:
print(students_city)

{'Tom': 'Berlin', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool', 'Gevorg': 'Yerevan'}

In [ ]:
students_city.update({"Tom": 'Berlin'})

In [ ]:
print(students_city)

{'Tom': 'Berlin', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool'}

In [ ]:
car = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

Nested Dictionaries

In [ ]:
family = {
  "child1" : {
    "name" : "Erik",
    "year" : 2004
  },
  "child2" : {
    "name" : "Felix",
    "year" : 1997
  },
  "child3" : {
    "name" : "Lilit",
    "year" : 2011
  }
}

In [ ]:
family.keys()

dict_keys(['child1', 'child2', 'child3'])

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [ ]:
myfamily.values()

dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

*  Print the value of the "model" key of the car dictionary.

* Change the "year" value from 1964 to 2020.

* Add the key/value pair "color" : "red" to the car dictionary.

### Sets

In [ ]:
fruit_set = set(("apple", "banana", "cherry"))
print(fruit_set)

{'cherry', 'banana', 'apple'}

In [ ]:
fruit_set1 = {"apple", "banana", "cherry"}
print(fruit_set)

{'cherry', 'banana', 'apple'}

Double inputs

In [ ]:
fruit_set1 = {"apple", "banana", "cherry", "apple"}

print(fruit_set1)

{'cherry', 'banana', 'apple'}

In [ ]:
fruit_set1 = {"apple", "banana", "cherry"}

print(len(fruit_set1))

3

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [ ]:
print(type(set4))

<class 'set'>

In [ ]:
print(fruit_set1[0])

TypeError: 'set' object is not subscriptable

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'cherry', 'banana', 'apple', 'mango', 'papaya'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'banana', 'apple', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist.extend(thisset)
print(mylist)

['kiwi', 'orange', 'cherry', 'banana', 'apple']

There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered and unindexed. No duplicate members.
* Dictionary is a collection which is unordered and changeable. No duplicate members.

### If statements

In [ ]:
high_income = True

if high_income:
    print('He has a high_income')

He has a high_income

In [ ]:
high_income = False

if high_income:
    print('He has a high income')
else:
    print('He has not a high income')

He has not a high_income

In [ ]:
high_income = False
good_credit = True

if high_income:
    print('He has a high income')
elif good_credit:
    print('He has a good credit')
else:
    print('He has not a high income not a good credit')

He has a good credit

In [ ]:
high_income = True
good_credit = True

if high_income and good_credit:
    print('Eligible for the loan')
elif high_income and not good_credit:
    print('He has a high income, but not a good credit')
elif not high_income and good_credit:
    print('He has not a high income, but has a good credit')
else:
    print('He has not a high income and not good_credit')

Eligible for the loan

Building a better calculator

In [ ]:
num1= float(input('Enter a number: '))
op= input('Enter an operator: ')
num2 = float(input('Enter another number: '))

if op=='+':
    print(num1+num2)
elif op=='-':
    print(num1-num2)
elif op=='/':
    print(num1/num2)
elif op=='*':
    print(num1*num2)
else:
    print('Invalid operator')

Enter a number: 18
Enter an operator: *
Enter another number: 15
270.0

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
if x > 10:
    print("Above ten,")
elif x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,