# Recap of last lesson

### Working with strings

Printing a string

In [1]:
print('This is string')

This is string

New line

In [2]:
print('This is\nstring')

This is
string

Tab

In [8]:
print('This is \tstring')

This is 	string

" "

In [16]:
print('This is \"string\"')

This is "string"

Backslash

In [31]:
print('This is\string')

This is\string

In [30]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

Storing in variable

In [1]:
text = 'we are in Yerevan.'
print(text)

we are in Yerevan.

In [205]:
print(type(text))

<class 'str'>

Concatination

In [82]:
print(text+' The wether is fine here')

we are in Yerevan. The wether is fine here

Functions

In [83]:
print(text.capitalize())

We are in yerevan.

In [84]:
print(text.upper())

WE ARE IN YEREVAN.

In [20]:
print(text.isupper())

False

In [22]:
print(text.upper().isupper())

True

In [23]:
print(len(text))

18

In [6]:
text = 'we are in Yerevan.'
        0123
print(text[1])

e

In [9]:
text = 'we are in Yerevan.'
        01234567
print(text[1:4])

e a

In [13]:
text = 'we are in Yerevan.'
                        -1
print(text[-5:-2])

eva

In [ ]:
print('We are in Yerevan.')
       0123

Search

In [38]:
print(text.find('Yere'))

10

In [39]:
print(text.find('Z'))

-1

In [28]:
print(text.replace('Yerevan','Gyumri'))

We are in Gyumri.

Other

In [40]:
print(text.title())

We Are In Yerevan.

In [36]:
print('Yerevan' in text)

True

In [2]:
print('Yerevan' not in text)

False

In [43]:
print(text.count('Madrid'))

0

In [53]:
print('  Madrid  '.strip())

Madrid

In [50]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [54]:
print(text.split())

['We', 'are', 'in', 'Yerevan.']

In [59]:
print(text*3)

We are in Yerevan.We are in Yerevan.We are in Yerevan.

In [32]:
print("x"*7)
print("x"*2)
print("x"*4)
print("x"*2)
print("x"*2)

xxxxxxx
xx
xxxx
xx
xx

### Getting inputs

In [ ]:
name = input('Enter your name: ')
print('Hello '+name+'!')

Ask person's name, then city and print for example **"Aram is from Ashtarak"**

In [33]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print(f"{name}, you are from {city}")

Enter your name: Karen
Enter your city: Goris
Karen, you are from Goris

Building a Basic Calculator

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = num1 + num2
print(result)

In [90]:
print('num1 is a',type(num1))
print('num2 is a',type(num2))

num1 is a <class 'str'>
num2 is a <class 'str'>

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = int(num1) + int(num2)
print(result)

In [ ]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1) + float(num2)
print(result)

Mad Libs Game

https://www.squiglysplayhouse.com/WritingCorner/StoryBuilder/ItsEaster.html

In [72]:
name          = input("A boy's name: ")
member        = input("A family member: ")
candy_company = input("Your favorite candy company: ")
candy_type    = input("Your favorite candy type: ")
text          = f"""
One day a little boy named {name} woke up and his {member} yelled, "It's Easter!" 
They went to check if the Easter Bunny left something for him, and he did. 
He left a chocolate Easter bunny candy,twelve Easter eggs filled 
with {candy_company} {candy_type}, and a jump rope, and a lot of other toys.
"""
print(text)

A boy's name: Arsen
A family member: mother
Your favorite candy company: Linds
Your favorite candy type: chupa

One day a little boy named Arsen woke up and his mother yelled, "It's Easter!"
They went to check if the Easter Bunny left something for him, and he did.
He left a chocolate Easter bunny candy,
twelve Easter eggs filled with Linds chupa, and a jump rope, and a lot of other toys.

# Lists

In [ ]:
print(list((55,66)))

In [1]:
names = ['Armen','Arsen','Ani','Karen']
print(names)

['Armen', 'Arsen', 'Ani', 'Karen']

In [34]:
mix = ["Yerevan",67,False,]
print(mix)

['Yerevan', 67, False]

In [206]:
print(type(names))

<class 'list'>

In [200]:
print(len(names))

4

Access elements

In [2]:
print(names[0])

Armen

In [3]:
print(names[2:])

['Ani', 'Karen']

In [4]:
names[0] = 'Robert'
print(names)

['Robert', 'Arsen', 'Ani', 'Karen']

In [224]:
names = ['Armen','Arsen','Ani','Karen','Tigran']
names[1:3] = ["Levon"]
print(names)

['Armen', 'Levon', 'Karen', 'Tigran']

### List functions

Join

In [6]:
girls = ['Ani','Mery','Lusine','Aida']
boys = ['Tigran','Hayk','Gevorg','Levon']
girls.extend(boys)
print(girls)

['Ani', 'Mery', 'Lusine', 'Aida', 'Tigran', 'Hayk', 'Gevorg', 'Levon']

Add

In [10]:
girls = ['Ani','Mery','Lusine','Aida']
girls.append('Meline')
print(girls)

['Ani', 'Mery', 'Lusine', 'Aida', 'Meline']

In [71]:
girls = ['Ani','Mary','Lusine','Aida']
girls.insert(2,'Meline')
print(girls)

['Ani', 'Mary', 'Meline', 'Lusine', 'Aida']

Remove

In [16]:
girls.remove('Mary')
print(girls)

['Ani', 'Meline', 'Lusine', 'Aida']

In [17]:
girls.clear()
print(girls)

[]

In [18]:
boys = ['Tigran','Hayk','Gevorg','Levon']
boys.pop()
print(boys)

['Tigran', 'Hayk', 'Gevorg']

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [225]:
boys = ['Tigran','Hayk','Gevorg','Levon']
del boys
print(boys)

NameError: name 'boys' is not defined

Search

In [19]:
print(boys.index('Hayk'))

1

In [72]:
print(boys.index('Levon'))

ValueError: 'Levon' is not in list

Count

In [227]:
boys = ['Tigran','Hayk','Gevorg','Hayk']
print(boys.count('Hayk'))

2

Sorting

In [229]:
boys.sort()
print(boys)

['Gevorg', 'Hayk', 'Hayk', 'Tigran']

In [228]:
boys.sort(reverse = True)
print(boys)

['Tigran', 'Hayk', 'Hayk', 'Gevorg']

Reverse

In [67]:
boys = ['Tigran','Hayk','Gevorg','Hayk']
boys.reverse()
print(boys)

['Hayk', 'Gevorg', 'Hayk', 'Tigran']

Copy

In [25]:
boys2 = boys.copy()
print(boys2)

['Hayk', 'Gevorg', 'Hayk', 'Tigran']

In [73]:
[boys,girls]

[['Hayk', 'Gevorg', 'Hayk', 'Tigran'],
 ['Ani', 'Mary', 'Meline', 'Lusine', 'Aida']]

### Tuples

In [75]:
print(tuple([1,51]))

(1, 51)

In [74]:
coordinates = (4,5)
print(coordinates)

(4, 5)

In [207]:
print(len(coordinates))

2

In [208]:
print(type(coordinates))

<class 'tuple'>

In [32]:
print(coordinates[1])

5

In [33]:
coordinates[1] = 5

TypeError: 'tuple' object does not support item assignment

List of tuples

In [34]:
coordinates_list = [(2,5),(5,8),(0,9)]

In [38]:
coordinates_list[0][0]

1

In [39]:
coordinates_list[0][0] = 5

TypeError: 'tuple' object does not support item assignment

In [35]:
coordinates_list[0] = (1,2)

In [36]:
print(coordinates_list)

[(1, 2), (5, 8), (0, 9)]

In [68]:
(boys,coordinates)

(['Hayk', 'Gevorg', 'Hayk', 'Tigran'], (4, 5))

# Dictionary

In [17]:
students_city = {'Tom' : 'London','Igor' : 'Moscow','Elizabeth' : 'Liverpool'}

In [99]:
print(students_city)

{'Tom': 'London', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool'}

In [8]:
students_city.keys()

dict_keys(['Tom', 'Igor', 'Elizabeth'])

In [15]:
students_city.values()

dict_values(['Berlin', 'Moscow', 'Liverpool', 'Yerevan', 'Yerevan'])

In [209]:
print(len(students_city))

3

In [210]:
print(type(students_city))

<class 'dict'>

In [100]:
students_city1 = {'Tom' : 'London','Tom' : 'Moscow','Elizabeth' : 'Liverpool'}

In [102]:
print(students_city1)

{'Tom': 'Moscow', 'Elizabeth': 'Liverpool'}

In [18]:
print(students_city['Tom'])

London

In [13]:
print(students_city.get('Robert','Yerevan'))

Yerevan

In [14]:
students_city["Robert"] = "Yerevan"

In [11]:
print(students_city)

{'Tom': 'Berlin', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool', 'Gevorg': 'Yerevan'}

In [6]:
students_city.update({"Tom": 'Berlin'})

In [7]:
print(students_city)

{'Tom': 'Berlin', 'Igor': 'Moscow', 'Elizabeth': 'Liverpool'}

In [ ]:
mix = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

Nested Dictionaries

In [22]:
family = {
  "child1" : {
    "name" : "Erik",
    "year" : 2004
  },
  "child2" : {
    "name" : "Felix",
    "year" : 1997
  },
  "child3" : {
    "name" : "Lilit",
    "year" : 2011
  }
}

In [23]:
family.keys()

dict_keys(['child1', 'child2', 'child3'])

In [20]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [21]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [24]:
myfamily.values()

dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

### Sets

In [193]:
fruit_set = set(("apple", "banana", "cherry"))
print(fruit_set)

{'cherry', 'banana', 'apple'}

In [194]:
fruit_set1 = {"apple", "banana", "cherry"}
print(fruit_set)

{'cherry', 'banana', 'apple'}

Double inputs

In [198]:
fruit_set1 = {"apple", "banana", "cherry", "apple"}

print(fruit_set1)

{'cherry', 'banana', 'apple'}

In [199]:
fruit_set1 = {"apple", "banana", "cherry"}

print(len(fruit_set1))

3

In [201]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [202]:
print(type(set4))

<class 'set'>

In [196]:
print(fruit_set1[0])

TypeError: 'set' object is not subscriptable

In [211]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [212]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'cherry', 'banana', 'apple', 'mango', 'papaya'}

In [218]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'banana', 'apple', 'orange'}

In [220]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist.extend(thisset)
print(mylist)

['kiwi', 'orange', 'cherry', 'banana', 'apple']

There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered and unindexed. No duplicate members.
* Dictionary is a collection which is unordered and changeable. No duplicate members.

### If statements

In [110]:
high_income = True

if high_income:
    print('He has a high_income')

He has a high_income

In [112]:
high_income = False

if high_income:
    print('He has a high income')
else:
    print('He has not a high income')

He has not a high_income

In [25]:
high_income = False
good_credit = True

if high_income:
    print('He has a high income')
elif good_credit:
    print('He has a good credit')
else:
    print('He has not a high income not a good credit')

He has a good credit

In [116]:
high_income = True
good_credit = True

if high_income and good_credit:
    print('Eligible for the loan')
elif high_income and not good_credit:
    print('He has a high income, but not a good credit')
elif not high_income and good_credit:
    print('He has not a high income, but has a good credit')
else:
    print('He has not a high income and not good_credit')

Eligible for the loan

Building a better calculator

In [122]:
num1= float(input('Enter a number: '))
op= input('Enter an operator: ')
num2 = float(input('Enter another number: '))

if op=='+':
    print(num1+num2)
elif op=='-':
    print(num1-num2)
elif op=='/':
    print(num1/num2)
elif op=='*':
    print(num1*num2)
else:
    print('Invalid operator')

Enter a number: 18
Enter an operator: *
Enter another number: 15
270.0

In [26]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [27]:
if x > 10:
    print("Above ten,")
elif x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,