<a href="https://colab.research.google.com/github/Smbat-1995/Smbat-1995/blob/main/Week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [27]:
def hi_there():
  print('Hello everyone')

In [100]:
x = 7
def dif(x):
  x += 5
  return x
print(dif(x))
print(x)

12
7

In [28]:
print('I am calling my function:')
hi_there()
print('Function works well!')

I am calling my function:
Hello everyone
Function works well!

### Parameters and arguments

In [91]:
def hi_there(name):
  print('Hello '+name)
hi_there('Ani')
hi_there('Smbat')

Hello Ani
Hello Smbat

In [101]:
def hi_there(name):
  print('Hello '+name)
hi_there()

TypeError: ignored

In [33]:
def hi_there(name,age):
  print(f'Hello {name}, you are {age} years old')

hi_there('Smbat',25)
hi_there('Artak',40)

Hello Smbat, you are 25 years old
Hello Artak, you are 40 years old

Positional arguments and keyword arguments

In [112]:
def hi_there(name,age):
  print(f'Hello {name}, you are {age} years old')

hi_there('Smbat',25) # Positional
hi_there(name='Smbat',age=25) #Keyword
hi_there(age=25 , name='Smbat')
hi_there('Smbat',age=25)

Hello Smbat, you are 25 years old
Hello Smbat, you are 25 years old
Hello Smbat, you are 25 years old
Hello Smbat, you are 25 years old

In [113]:
def hi_there(name,age):
  print(f'Hello {name}, you are {age} years old')

hi_there(name='Smbat',25)

SyntaxError: ignored

In [ ]:
def function(args,kwargs,*args,**kwargs)

Create a function that cubes the given number

## Return statement

In [46]:
def cube(num):
  num**3

cube(5)

In [121]:
def cube(num):
  return num**3
print(cube(5))

125

In [125]:
def cube(num):
  print(num**3)
print(cube(5))

125
None

In [50]:
def cube(num):
  return num**3
  print()

a = cube(5)
print('Cube is ',a)

Cube is  125